/* BODY */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  cursor: pointer;
  color: var(--color-navy-blue);
  background-color: var(--color-white);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

/* COMPONENT */
.subtitle-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2%;
}
.description-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: var(--color-slate);
}

/* HEADER */
.logo-nav {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: var(--color-iris);
}
.logo-dark {
  color: var(--color-navy-blue);
}
.logo-light {
  color: var(--color-cloud);
}

.menu-link.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: var(--color-navy-blue);
}
.address-item.link,
.address-items.link {
  color: var(--color-slate);
}
.menu-link.link:hover,
.menu-link.link:focus,
.menu-link.link:active {
  color: var(--color-ocean);
}
.address-item.link:hover,
.address-item.link:focus,
.address-item.link:active {
  color: var(--color-ocean);
}

/* HERO */
.hero {
  background-color: var(--color-navy-blue);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 2%;
  color: var(--color-white);
}
.modal-btn {
  font-family: inherit;
  background-color: var(--color-iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;

  color: var(--color-white);
}
.modal-btn:hover,
.modal-btn:focus {
  color: var(--color-ocean);
}
/* TEAM */
.team-list {
  background-color: var(--color-cloud);
}

/* Footer*/
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: var(--color-cloud);
}
.main-footer {
  background-color: var(--color-navy-blue);
}

/* PORTFOLIO */ /* SECTION */
.btn-menu {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
}
.btn {
  color: var(--color-iris);
  background-color: var(--color-cornflower);
}
.btn:hover,
.btn:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
}
